---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Wattloop — Actionable Battery Insights.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/background-home.png', alt: 'Wattloop Ecoscene' }}
  >
    <Fragment slot="title">
      The most sustainable <span class="text-accent dark:text-white">Battery</span> is the one already made
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Wattloop</span> maximises value across the full EV battery lifecycle 
      </span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note title="Our Belief?" description="Every battery has more to give" />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Products and Services"
    title="Our Solutions"
    subtitle="To maximise a battery's value throughout its entire lifetime, we source the battery data directly from the BMS to where it matters most to you"
    items={[
      {
        title: 'Battery Pass',
        description:
          'A fast, independent, data-driven report that helps second-hand EV resellers sell with confidence and buyers purchase with trust.',
        icon: 'tabler:e-passport',
      },
      {
        title: 'Second-life Battery Certificate',
        description:
    'Wattloop’s Battery Certificate delivers full transparency, independent State of Health data and resale-grade documentation, turning uncertainty into opportunity.',
        icon: 'tabler:certificate',
      },
      {
        title: 'Monitoring & 2nd Life triage',
        description:
          'Wattloops introduces the plug-and-play assessment and monitoring platform that brings clarity, safety, and value to the heart of your battery operations.',
        icon: 'tabler:search',
      },
      {
        title: 'Data Services',
        description:
    'Wattloop Battery Data Services delivers real world battery insights. Independent. Comparable. Actionable.',
        icon: 'tabler:chart-scatter',
      },
    ]}
  />






  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact us',
        href: 'mailto:info@wattloop.com',
        target: '_blank',
        icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title">
      Interested in unlocking the potential of your EV battery?
    </Fragment>
  </CallToAction>
</Layout>
