---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Wattloop — Actionable Battery Insights.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/background-home.png', alt: 'Wattloop Ecoscene' }}
  >
    <Fragment slot="title">
      Unlock the full potential of your EV <span class="text-accent dark:text-white">Battery</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        We maximise <span class="font-semibold">value</span> across the full EV battery lifecycle 
      </span>
    </Fragment>
  </Hero>


   <Features2
    title="The \u20AC1 billion EV battery <span class='font-semibold text-accent'>problem</span>"
    subtitle=""
    items={[
      {
        title: 'Lack of trust',
        description:
          'A lack of transparency about battery life expectancy & missing standards for EV battery longevity introduces market uncertainty. This makes the EV resale market suffer from a lack of trust.',
        icon: 'tabler:car',
      },
      {
        title: 'Black box',
        description:
          'End-of-first-life EV batteries are a black box which might either catch fire, could power a neighborhood for many more years, or has no life left at all. Which will it be?',
        icon: 'tabler:question-mark',
      },
      {
        title: 'Lack of data',
        description:
          'A lack of quality EV battery data makes the industry bleed money. Needless costly transports, unnecessary downcycling and regulatory uncertainty prevent the 2nd life market to reach its full potential',
        icon: 'tabler:graph',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>



  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="What we do"
    title="Our products and services"
    subtitle="To maximise a battery's value throughout its entire lifetime, we source the battery data directly from the BMS to where it matters most to you"
    items={[
      {
        title: 'Battery Pass',
        description:
          'A fast, independent, data-driven report that helps second-hand EV resellers sell with confidence and buyers purchase with trust.',
        icon: 'tabler:e-passport',
      },
      {
        title: 'Second-life Battery Certificate',
        description:
    'Wattloop’s Battery Certificate delivers full transparency, independent State of Health data and resale-grade documentation, turning uncertainty into opportunity.',
        icon: 'tabler:certificate',
      },
      {
        title: 'Monitoring & 2nd Life triage',
        description:
          'Wattloops introduces the plug-and-play assessment and monitoring platform that brings clarity, safety, and value to the heart of your battery operations.',
        icon: 'tabler:search',
      },
      {
        title: 'Data Services',
        description:
    'Wattloop Battery Data Services delivers real world battery insights. Independent. Comparable. Actionable.',
        icon: 'tabler:chart-scatter',
      }
    ]}
  />



  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact us',
        href: '/contact',
        target: '_self',
        icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title">
      Unlock the full potential of your EV batteries now!
    </Fragment>
  </CallToAction>
</Layout>
