---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Brands from '~/components/widgets/Brands.astro';

const metadata = {
  title: 'Wattloop',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero>
    <Fragment slot="title">
      Turn end-of-life EV batteries into <span class="text-accent dark:text-white">sellable assets</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        We <span class="font-semibold">certify</span> EV batteries for <span class="font-semibold">salvage yards</span> and <span class="font-semibold">recyclers</span>
      </span>
    </Fragment>
  </Hero>

  <Brands
      title="Trusted <span class='text-accent'>partners</span>"
      classes={{ container: 'py-0 -mt-24 md:-mt-36' }}
      icons={[]}
      images={[
        {
          src: '~/assets/images/circular_kickstart.png',
          alt: 'Circular Kickstart',
        },
        {
          src: '~/assets/images/vlaio.png',
          alt: 'VLAIO',
        },
        {
          src: '~/assets/images/vito.png',
          alt: 'VITO',
        },
        {
          src: '~/assets/images/starterslabo.jpg',
          alt: 'Starterslabo',
        },
        {
          src: '~/assets/images/didier.png',
          alt: 'Didier',
        },
        {
          src: '~/assets/images/watt4ever.jpg',
          alt: 'Watt4Ever',
        },
        {
          src: '~/assets/images/sortbat.png',
          alt: 'Sortbat',
        },
        {
          src: '~/assets/images/startit_logo.png',
          alt: 'Start it',
        },
      ]}
    />

   <Features2
    title="The EV battery <span class='font-semibold text-accent'>problem</span>"
    subtitle="The EV battery supply chain operates blind. Salvage yards and recyclers can't assess condition, so they can't recover value. Instead, they just shred or sit there. Meanwhile, buyers won't touch salvaged batteries without proof of safety. Billions in battery assets are being destroyed instead of recovered."
    items={[
      {
        title: 'Salvage yards are sitting on hundreds of EV batteries',
        description:
    'Salvage yards hold ~500k euros in EV batteries, but sit blind. Without condition data, buyers won\'t touch them. Worse: one bad battery can catch fire. Result: most batteries sit there for years instead of reentering the market.',
        icon: 'tabler:car',
      },
      {
        title: 'Recyclers operate blind',
        description:
          'Recyclers dismantle EV batteries blind. No condition data = no selective recovery. Everything gets shredded, turning  revenue from module resale into disposal cost or low-margin black mass.',
        icon: 'tabler:question-mark',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>



  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="What we do"
    title="We certify your battery to sell your EV battery packs faster"
    subtitle="Plug in our Wattloop box to the battery's connector and assess electrical safety and resale value instantly"
    items={[
      {
        title: 'Second-life Battery Certificate',
        description:
    'Wattloop’s Battery Certificate delivers the state-of-health data your buyers are waiting for to make a confident decision.',
        icon: 'tabler:certificate',
      },
      {
        title: 'Dismantling triage',
        description:
          'Wattloops introduces the plug-and-play assessment platform that enables a recycler\'s operator to safely dismantle EV battery packs and select modules in good condition.',
        icon: 'tabler:search',
      },
    ]}
  />


  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact us',
        href: '/contact',
        target: '_self',
        icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title">
      Book a demo now! 
    </Fragment>
  </CallToAction>
</Layout>
