---
import logo from '../assets/images/logo_wattloop.svg';
---


<div class="flex items-center">
  <img
    src={logo.src}
    alt="Wattloop"
    class="h-8 w-auto"
  />
  <span class="ml-2 text-m font-bold">Actionable. Battery. Insights.</span>
</div>
