---
import logo from '../assets/images/logo.png';
---


<div class="flex items-center">
  <img
		  src={logo.src}
    alt="Wattloop"
    class="h-8 w-auto"
  />
  <!-- Or if you want text alongside -->
  <span class="ml-2 text-m font-bold">Actionable. Battery. Insights.</span>
</div>
