---
import { getAsset } from '~/utils/permalinks';
---


<div class="flex items-center">
  <img
		  src={getAsset('~/assets/images/logo.png')}
    alt="Wattloop"
    class="h-8 w-auto"
  />
  <!-- Or if you want text alongside -->
  <span class="ml-2 text-m font-bold">Actionable. Battery. Insights.</span>
</div>
